<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/jass.css" />
  </head>

  <body>
    <header class="flex bg-sky-200 align-center p-2">
      <a
        href="/"
        class="m-2 w-36 border-2 text-white text-center border-black rounded bg-sky-800 bg-opacity-80 hover:bg-opacity-100"
        style="text-decoration:none"
      >Home</a>
      <a
        href="/dashboard"
        class="m-2 w-36 border-2 text-white text-center border-black rounded bg-sky-800 bg-opacity-80 hover:bg-opacity-100"
        style="text-decoration:none"
      >Dashboard</a>
      {{#unless logged_in}}
        <a
          href="/login"
          class="m-2 w-36 border-2 text-white text-center border-black rounded bg-sky-800 bg-opacity-80 hover:bg-opacity-100"
          style="text-decoration:none"
          id="login"
        >Login/Signup</a>
      {{/unless}}
      {{#if logged_in}}
        <button
          class="m-2 w-36 border-2 text-white text-center border-black rounded bg-sky-800 bg-opacity-80 hover:bg-opacity-100"
          style="text-decoration:none"
          id="logout"
        >Logout</button>
      {{/if}}

    </header>
    <main class="display-flex flex-row">
      {{{body}}}
    </main>
    <footer>

    </footer>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>